* {
    active-background: #243b35;
    active-foreground: #e6dfcf;
    normal-background: #101c24;
    normal-foreground: #e6dfcf;
    urgent-background: #513735;
    urgent-foreground: #e6dfcf;
    alternate-active-background: #192a32;
    alternate-active-foreground: #e6dfcf;
    alternate-normal-background: #101c24;
    alternate-normal-foreground: #e6dfcf;
    alternate-urgent-background: #513735;
    alternate-urgent-foreground: #e6dfcf;
    selected-active-background: #d8ad70;
    selected-active-foreground: #101c24;
    selected-normal-background: #d8ad70;
    selected-normal-foreground: #101c24;
    selected-urgent-background: #cb8580;
    selected-urgent-foreground: #101c24;
    background-color: transparent;
    background: rgba(16, 28, 36, 0.97);
    foreground: #e6dfcf;
    border-color: #3b5050;
}
